main
  .changingUserInformationBlock
    .changingUserInformationBlockAvatar
      img(src=img alt="avatar")

    .changingUserInformationBlockTitle
      h1 !{title}

    .inputArea
      | !{inputAreaBlock}
      div
        | !{errorForm}
    .buttomBlock
      | !{button}
