main
  .chatWindow
    .menuChat 
      | !{buttonBlockMenu}
    .dialogsBlockHeader
      | !{buttonBlockProfile}
      | !{inputAreaBlockChat}

    .messagesBlockHeader
      .namechat
        | !{buttonNameChat}
      .settings
        | !{buttonSettingsChat}

    .dialogsBlockItems
      | !{dialogItem}  

    .messagesBlockWindowChat
      .blockMessageItem 
        .message1 У нас новое мероприятие, приходи!
          img(src=test alt="test")
        .message2 Хорошо, обязательно прийду!
        .message1 Будем ждать!

      .blockMessageChat
        | !{inputAreaBlocMessageChat}
        | !{buttonMessageSend}
    
      
