main
  .chatWindow
    .dialogsBlockHeader
      .dialogsBlockHeaderSearch
        | !{buttonBlockProfile}
        | !{searchChat}
      .dialogsBlockHeaderSettings 
        | !{profile}
        | !{addChat}
        | !{deleteChat}

    .messagesBlockHeader
      .namechat
        | !{AddUserinChat}

      .settings
        | !{buttonSettingsChat}

    .dialogsBlockItems
      | !{dialogItem}  

    .messagesBlockWindowChat
      | !{DialogMessages} 

      .blockMessageChat
        | !{inputAreaBlocMessageChat}
        | !{buttonMessageSend}
    
      
