main
  .chatWindow
    .menuChat 
      | !{buttonBlockMenu}
    .dialogsBlockHeader
      | !{buttonBlockProfile}
      | !{inputAreaBlockChat}

    .messagesBlockHeader
      .namechat
        | !{buttonCreateChat}
        | !{AddUserinChat}
      .settings
        | !{buttonSettingsChat}

    .dialogsBlockItems
      | !{dialogItem}  

    .messagesBlockWindowChat
      | !{DialogMessages} 

      .blockMessageChat
        | !{inputAreaBlocMessageChat}
        | !{buttonMessageSend}
    
      
